#four-oh-four {
  background: $white;
  border-radius: 3px;
  color: $black;
  max-width: 320px;
  padding: 10px;
  position: relative;
  text-align: center;
  z-index: 999;

  h1 {
    margin-top: 0;
  }

  .button {
    display: block;
  }

  &:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $white;
    bottom: -14px;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
  }

  + .copter {
    left: 5px;
    margin: 0 auto;
    top: 30px;
  }
}


.modal-container {
  @include flex-container(row, center, center);
  background: $transparent-black-7;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.modal {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 4px 20px $transparent-black-5;
  height: 440px;
  position: relative;
  width: 400px;
}

.test-onboarding-modal {
  width: 540px;
  padding: 20px;
}


$feedback-modal-grey: #bbb;
$feedback-modal-width: 300px;
$feedback-modal-border-radius: 5px;

#modal-screen {
  background: $transparent-white-6;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

#modal-screen.dark {
  @include flex-container(row, center,top);
  background: $transparent-black-6;
}

.feedback-modal {
  height: 400px;
  margin-top: 100px;
  border-radius: 5px;
}

.feedback-modal,
.fte-modal {
  top: 100px;
  background-color: $white;
  width: $feedback-modal-width;
  z-index: 200;

  h3.title {
    background-color: $default;
    border-top-left-radius: $feedback-modal-border-radius;
    border-top-right-radius: $feedback-modal-border-radius;
    color: $white;
    font-size: 2.4rem;
    font-weight: 300;
    margin: 0;
    padding: 10px 0 8px;
    text-align: center;
  }

  section.main {
    padding: 0 25px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 0 0;

      li {
        margin: 0 0 7px;
        padding: 0;

        input {
          margin: 0 .25em;
          padding: 0;
        }

        label {
          font-size: 1.6rem;
          position: relative;
          margin-left: 5px;
          top: 2px;
        }
      }
    }

    section.extra,
    section.controls {
      text-align: center;

      p {
        color: $feedback-modal-grey;
        font-size: 1.2rem;
        margin: 10px 0 4px;
        padding: 0;
      }

      textarea {
        border: 1px solid $feedback-modal-grey;
        display: block;
        font-size: 1.4rem;
        height: 8em;
        padding: 5px;
        resize: none;
        width: 100%;
      }
    }

    section.controls {
      margin: 20px 0;
      text-align: center;

      button.submit {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        width: 100%;
      }

      a.cancel {
        display: block;
        font-size: 1.2rem;
        margin: 10px 0;
        text-decoration: none;
        color: $default;
      }
    }
  }
}

.fte-modal {
  width: 402px;
  min-height: 410px;
  padding: 20px;
  box-shadow: 0 2px 40px $transparent-black-5, 0 0 ;
  border: 1px solid $transparent-black-2;
}

.fte-section {
  @include flex-container(column, space-between, stretch);
  height: 100%;

  h2 {
    text-align: center;
    font-size: 28px;
    margin: 10px 0;
  }
}

.fte-content {
  flex: 1;
}
.fte-section {
  img {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid $transparent-black-1;
    margin: -20px 0 0 -20px;
    background: $transparent-black-1;
  }
  p {
    line-height: 2.3rem;
    text-align: center;
    margin: 0 0 0;
  }

  a.cancel {
      display: block;
      font-size: 1.2rem;
      margin: 5px auto;
      text-decoration: none;
      color: $default;
  }
}

//This should not ship.
#browser-doorhanger {
  @include flex-container(column, center, stretch);
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 1px $transparent-black-5,
              0 4px 10px $transparent-black-3;
  padding: 20px;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 2px;
  width: 300px;
  z-index: 2; 
}

#browser-doorhanger-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


