html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 400;
}

h6 {
  font-size: 16px;
  font-weight: 400;
}

p,
ul,
li {
  line-height: 2.5rem;
}

.parens {
  margin-bottom: 2rem;
}

.emphasis {
  font-style: italic;
}

.lighter {
  font-weight: 300;
}


.help-button {
  position: fixed !important;
  bottom: 10px;
  right: 10px;
}
